<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="felickz2" value="https://pkgs.dev.azure.com/felickz2/_packaging/felickz2/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
	    <felickz2>
		<!-- Username doesnt matter - only password is needed -->
		<add key="Username" value="%NUGET_USER%" />
		<add key="ClearTextPassword" value="%NUGET_TOKEN%" />
	    </felickz2>
	</packageSourceCredentials>
</configuration>
