<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="non-responsive" value="https://google.com:8000/api/v0/index.json" />
		<add key="non-responsive1" value="https://google.com:8000/api/v1/index.json" />
		<add key="non-responsive2" value="https://google.com:8000/api/v2/index.json" />
		<add key="non-responsive3" value="https://google.com:8000/api/v3/index.json" />
		<add key="non-responsive4" value="https://google.com:8000/api/v4/index.json" />
		<add key="non-responsive5" value="https://google.com:8000/api/v5/index.json" />
		<add key="felickz2" value="https://pkgs.dev.azure.com/felickz2/_packaging/felickz2/nuget/v3/index.json" />
	</packageSources>
</configuration>
